@font-face {
  font-family: 'barbados';
  src: url('./Common/Barbaro-Roman/barbaro.ttf');
  src:
          local('barbados'),
          local('barbados'),
          url('./Common/Barbaro-Roman/barbaro.ttf')
          format('opentype');
}

body {
    padding: 0 !important;
    margin: 0 !important;
    font-family: barbados !important;
}

html {
    padding: 0 !important;
    margin: 0 !important;
    font-family: barbados !important;
}
.paddingZero{
 padding: 0!important;
}
.marginZero{
  margin: 0!important;
}
.marginLeftZero{
    margin-left: 0!important;
}

.h-5vh {
  height: 5vh;
}

.h-7vh {
  height: 7vh;
}
.h-9vh {
  height: 9vh;
}

.h-10vh {
  height: 10vh;
}
.h-12vh {
  height: 12vh;
}
.h-13vh {
     height: 13vh;
 }
.h-14vh {
     height: 14vh;
 }

.h-15vh {
  height: 15vh;
}

.h-20vh {
  height: 20vh;
}

.h-25vh {
  height: 25vh;
}

.h-30vh {
  height: 30vh;
}
.h-35vh {
  height: 35vh;
}

.h-40vh {
  height: 40vh;
}
.h-45vh {
    height: 45vh!important;
}
.h-50vh {
    height: 50vh!important;
}
.h-55vh {
    height: 55vh!important;
}
.h-75vh {
  height: 75vh;
}
.h-70vh{
    height: 70vh;
}
.h-76vh{
    height: 76vh;
}
.h-80vh{
    height: 80vh;
}
.h-85vh{
    height: 85vh;
}
.h-90vh{
    height: 90vh;
}
.h-100vh {
  height: 100vh;
}
.h-110vh {
    height: 110vh;
}
.w-7vw{
    width: 7vw;
}
.w-5vw{
    width: 5vw;
}
.w-10vw{
    width: 10vw;
}
.w-12vw{
    width: 12vw;
}.w-15vw{
    width: 15vw;
}.w-20vw{
    width: 20vw;
}.w-25vw{
    width: 25vw;
}.w-30vw{
    width: 30vw;
}



.h-30{
    height: 30%;
}
.h-90{
  height: 90%;
}
.w-90{
  width: 90%;
}
.w-93{
  width: 93%;
}
.h-95{
    height: 95%;
}
.w-95{
    width:95%;
}
.h-98{
    height: 98%;
}
.h-60{
  height:60%;
}
.w-60{
  width:60%;
}.h-65{
  height:65%;
}
.h-63{
    height:63%;
}
.w-65{
  width:65%;
}
.h-70{
  height:70%;
}
.w-70{
  width:70%;
}
.h-80{
  height:80%;
}
.w-80{
  width:80%;
}
.h-85{
    height:85%;
}
.w-85{
    width:85%;
}


.fs-08vw{
  font-size: calc(0.8vw + 0.5em)!important;
}
.fs-1vw{
  font-size: 1vw!important;
}
.fs-6px{
    font-size: 6px;
}
.fs-11vw{
  font-size: calc(1.1vw + 0.5em)!important;
}
.fs-12vw{
  font-size: calc(1.2vw + 0.5em)!important;
}
.fs-13vw{
  font-size: calc(1.3vw + 0.2em)!important;
}
.fs-15vw{
  font-size: calc(1.5vw + 0.5em) !important;
}
.fs-17vw{
  font-size: calc(1.7vw + 0.3em)!important;
}
.fs-2vw{
     font-size:  calc(2vw + 0.5em)!important;
 }
.fs-23vw{
    font-size: calc(2.3vw + 0.5em)!important;
}
.fs-3vw{
    font-size: 3vw!important;
}
.fs-35vw{
    font-size: calc(3.5vw + 0.5em)!important;
}
.fs-4vw{
    font-size: 4vw!important;
}
.fs-5vw{
    font-size: 5vw!important;
}
.bg-black{
  background: #110d0a !important;
}
.bg-black-real{
    background: black!important;
}
.bg-white{
  background: white!important;
}
.bg-green{
  background: #2ade73!important;
}
.fit-cover{
  object-fit: cover!important;
}
.fit-fill{
  object-fit: fill;
}
.z-1{
  z-index: 1!important;
}.z-2{
   z-index: 2 !important;
}.z-3{
  z-index: 3!important;
}
 .pointer{
     cursor: pointer!important;
 }
 .imgSelf{
     height: 100%;
     width: 100%;
     object-fit: fill;
 }
.imgSelf-50{
    height: 50%;
    width: 100%;
    object-fit: fill;
}
 .mb-5vh{
     margin-bottom: 5vh;
 }
 .mt-3vh{
     margin-top: 3vh;
 }
.mt-2vh{
     margin-top: 2vh;
 }
.mt-10vh{
     margin-top:10vh;
 }
.ml-2vw{
    margin-left: 2vw;
}




/***************headers*/
.b-b{
  border-bottom: 0.2px solid #7a7a7a;
}
.b-t{
  border-top: 0.2px solid #7a7a7a;
}
.b-r{
  border-right: 0.2px solid #7a7a7a;
}
.buttonVideo{
  position: absolute;
  bottom: 0!important;
  left: 0!important;
}
.h-83vh{
  height: 83vh;
}
.headerTop{
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    z-index: 999;
}
.div-first{
    position: absolute;
    top: 24vh;
    left: 5%;
}
.pre{
    white-space: pre!important;
}
.button-first{
    background: black!important;
    height: 7vh;
    /*line-height: 7vh;*/
    text-align: center;
    /*padding: 0!important;*/
    padding: 0 0   7px 0!important;
    margin-left: 0!important;
    border: 0!important;
    color: white!important;
    display: flex;
    justify-content: center;
    /*align-items: top;*/
    /*align-items: start;*/
}
.button-first:hover{
    background: white!important;
    height: 7vh;
    /*line-height: 7vh;*/
    text-align: center;
    padding: 0 0   7px 0!important;
    margin-left: 0!important;
    border: 0!important;
    color: Black!important;
    display: flex;
    justify-content: center;
    /*align-items: start;*/
}
.button-second{
    background: white!important;
    height: 7vh;
    /*line-height: 7vh;*/
    text-align: center;
    padding: 0 0   7px 0!important;
    border: 0!important;
    color: Black!important;
    display: flex;
    justify-content: center;
    /*align-items: start;*/
}
.button-second:hover{
    background: Black!important;
    height: 7vh;
    /*line-height: 7vh;*/
    text-align: center;
    padding: 0 0   7px 0!important;
    border: 0!important;
    color: white!important;
    display: flex;
    justify-content: center;
    /*align-items: start;*/
}
.bg-dark-side{
    background: rgba(0, 0, 0, 0.53);
}
.paddingAll{
    padding-right: 2.4vw;
    padding-left: 2.4vw;
}
.paddingLeftMain{
    padding-left: 2.4vw!important;
}
.paddingRightMain{
    padding-right: 2.4vw!important;
}
 .Color50{
     color: #7d7d7d;
 }
 .headerFirstPages{
     position: fixed;
     top: 0!important;
 }
 .slider{
     height: 91vh;
     margin-top: 9vh;
     /*height: 100%;*/
     width: 0;
     position: absolute;
     z-index: 1;
     top: 0;
     left: 0;
     overflow-x: hidden;
     transition: 0.5s;
     /*padding-top: 60px;*/
 }
 .bg-black-menu{
     background-color: #111;

 }


 /*****second Pages*******/
.bg-second-green{
    background: #458b6f;
}
.bg-second-red{
    background: #de312a;
}
.bg-second-yellow{
    background: #c09759;
}
.joker{
    position: absolute;
    bottom: 0!important;
    left: 22%;
    width: 55%;
    height: 100%;
}
.width-Button{
    width: 3vw;
}
.text-Second-Tab{
    position: absolute;
    left: 2.4vw;
    font-size: 5vw!important;
    bottom: 0 !important;
    color: white;
}
.text-line-height{
    line-height: 1.2
}
.tab-second-text{
    margin-left:  2.4vw !important;
    color: white!important;
    font-size: 5vw!important;
    line-height: 5vw
}
.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 80vh;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
/*************three********/
.bg-1{
    background: url('./Common/Assets-3/Fold3/left green.png') no-repeat center;
    background-size: 100% 100%;
}
.bg-2{
    background: url('./Common/Assets-3/Fold3/right red.png') no-repeat center;
    background-size: 100% 100%;
}
.bg-3{
    background: url('./Common/Assets-3/Fold3/left yellow.png') no-repeat center;
    background-size: 100% 100%;
}
.bg-4{
    background: url('./Common/Assets-3/Fold3/right gray.png') no-repeat center;
    background-size: 100% 100%;
}

/***************fourth***********/
.div-fourth-1{
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: calc(1vw + 0.5em);
}
.div-fourth-2{
    position: absolute;
    top: 15%;
    right: 30%;
    /*font-size: 1vw;*/
}

.bg-4-1 {
    background: #3c6d96;
    color: white;
}

.bg-4-2 {
    background: #00acee;
    color: white;

}

.bg-4-3 {
    background: #c22e2a;
    color: white;

}
h3{
    /*line-height: 0!important;*/
    font-size: 1.6vw!important;

}

/**************five***********/
.sendBtn{
    background: #171719;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 0!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a5a5a3;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a5a5a3;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #a5a5a3;
}
/************footer*********/
.bg-footer{
    background: #252525;
    color: white;
}
.alink{
    color: #deecf7;
    text-decoration: none;
    font-size:calc( 1.3vw + 0.5em);
}
.alink:hover{
    color: #deecf7;
    text-decoration: none;
}
.pr-0{
    padding-right: 0!important;
}
#SecretPage{
    width: 100%;
    height:100vh;
    background-image: url('./Common/Assets-3/Fold5 and Footer/4-bg.jpg');
    background-size: 100% 100%;
    /*z-index: 999999!important;*/
}
.videoPlay{
    width: 100%;
    height: 100%;
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.BTNBACK{
    opacity: 0.1;
}
.BTNBACK:hover{
    opacity: 1;
}
.box2{
    position: absolute;
     top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.box2-2{
    position: absolute;
    top: 0;
    bottom: 0;
    margin-bottom: auto;
}
.detail-section-2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.53);
    /*opacity: 0.5;*/
}
.fs-text-2{
    font-size: calc(1vw + 0.5em) ;
    color: white;
    opacity: 1!important;
    white-space: pre!important;
}



/**********Menu***********/

/*#171719*/

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 60px;
    top: 12vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #171719;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: white;
    /*padding: 0.8em;*/
    padding: 0!important;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}
.Menu-Item{
    color:white;
    width: 100%;
    height: 10vh;
    font-size: 1.2vw;
    border-top: 0!important;
    border-right: 0!important;
    border-left: 0!important;
    border-bottom: 0.5px solid white ;
}
.MenuTxt{
    color:white;
    width: 100%;
    font-size: 1.2vw;
    border-top: 0!important;
    border-right: 0!important;
    border-left: 0!important;
}

.Menu-Item:hover {
    text-decoration: none;
    color:white;

}.Menu-Item:active {
    text-decoration: none;
    color:white;
     border : 0!important;
}
.w-50vw{
    width: 35% !important;
}
.mt-9vh{
    margin-top:  9vh;
 }

.twitter-header-hover:hover{
    color: #00abed!important;
    cursor: pointer;
}

.KickstarterK-header-hover:hover{
    color: #2ade73!important;
    cursor: pointer;

}
.FacebookF-header-hover:hover{
    color: #3c6d96!important;
    cursor: pointer;

}
.Instagram-header-hover:hover{
    color: #de312a!important;
    cursor: pointer;

}
.gray-hover:hover{
    color: gray!important;
    cursor: pointer;

}
.linkPublisher{
    color: #00fdfc!important;
    text-decoration: none!important;
}
.bg-darkSide{
    background: rgba(0, 0, 0, 0.62) !important;
}
.padding-b-0{
    padding-bottom: 0!important; ;
}
